.header {

    &-mnav {
        background-image: -webkit-linear-gradient(top,#505050,#242424);
    }
    &-nav {
        display: block;
        background-image: -webkit-linear-gradient(top,#505050,#242424);
        padding: .5rem 0;
        z-index: 10000;

        &-fixed {
            position: fixed !important;
            width: 100%;
            top: 0;
            z-index: 1000;
            padding: .5rem 0;
            background-image: -webkit-linear-gradient(top,#505050,#242424) !important;
        }

        &-logo {
            display: inline-block;
            & img {
                width: 100%;
                height: auto;
                max-width: 15rem;
                padding-top: .5rem;
            }
        }
        &-logo a:hover {
            border-bottom-color: transparent !important;
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            font-weight: 500;
            text-transform: uppercase;
            
            & li {
                display: inline-block;
                list-style-type: none;
            }
            & li:nth-child(2) {
                margin-left: auto;
            }
            & li:not(:last-child) {
                margin-right: 1.8rem;
            }
            & li a {
                display: block;
                text-decoration: none;
                color: $color-white;
                border: solid 2px transparent;
                padding: .5rem 0;
                transition: all .2s;
            }
            & li a i { //icon size
                font-size: 2rem;
            }
            & li a:hover {
                color: $color-red;
                border-bottom-color: $color-red;
            }
        }
        &-cart {
            background-color: $color-white;
            color: $color-black !important;
            padding: 3px 5px !important;
            border-radius: 3px;
        }
        &-cart:hover {
            background-color: rgba($color-white, .6);
            border-bottom-color: transparent !important;
        }
    }

    &-banner {
        background-image: url(../images/banner.jpg);
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 40vh;
        position: relative;
        z-index: 1;
    }
}

