.btn {
    transition: .2s all;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    background-color: $color-red;
    color: $color-white;
    display: inline-block;
    text-decoration: none;
    
    &:hover {
        background-color: transparent;
        border: 1px solid $color-red;
        padding: 1rem 1.5rem;
        color: $color-red;
        box-shadow: 0 1rem 2rem rgba($color-black-dark, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black-dark, .15);
        transform: translateY(0);
    }
}

.btn-2 {
    transition: .2s all;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 10rem;
    padding: 1.5rem 4rem;
    background-color: $color-white;
    color: $color-black;
    display: inline-block;
    text-decoration: none;
    
    &:hover {
        background-color: $color-red;
        border: 1px solid $color-red;
        padding: 1.5rem 4rem;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black-dark, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black-dark, .15);
        transform: translateY(0);
    }
}

.btn-3 {
    transition: .2s all;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    padding: 1.5rem 1.5rem;
    background: -webkit-linear-gradient(top, #D3112E 0%,#880202 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #D3112E 0%,#880202 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: $color-white;
    display: inline-block;
    text-decoration: none;
    
    &:hover {
        background-color: transparent;
        border: 1px solid $color-red;
        padding: 1.5rem 1.5rem;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black-dark, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black-dark, .15);
        transform: translateY(0);
    }
}

@media (max-width:767px) { //mobile
    .btn-3 {
        font-size: 1.2rem;
        width: 100%;
    }
}

@media (min-width:768px) { //tablets
    .btn-3 {
        font-size: 2rem;
        width: 100%;
        padding: 1.5rem 1.5rem;
    }
}

@media (min-width:992px) {//regular desktop
    .btn-3 {
        font-size: 2.5rem;
        width: 100%;
        padding: 1.5rem 1.5rem;
    }
}